*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 img{
    width: 150px;
    height: 150px;
   
}
.div1{
    animation-name: change;
    animation-duration: 5s;
    position: absolute;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
body{
    background-image: url('../images/landscape-1844226_1920.png');
    background-attachment: fixed;
    background-size: cover;
}

div:hover{
    animation-play-state: paused;
}

@keyframes change{
    0% {
        left: 0;
    }
   100%{
        left: 90%;   
    }
}
.div2{
    position: absolute;
    top: 150px;
    right: 0;
    transform: rotatey(180deg);
    animation-name: car2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
@keyframes car2{
    0% {
        right: 0;
    }
   100%{
        right: 90%;
    }
}
.div3{
    position: absolute;
    top: 300px;
    left: 0;
    animation-name: car3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 10s;
}
@keyframes car3{
    0% {
        left: 0;
    }
   100%{
        left: 90%;
    }
}
.div4{
    position: absolute;
    top: 450px;
    right: 0;
    transform: rotatey(180deg);
    animation-name: car4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 15s;
}
@keyframes car4{
    0% {
        right: 0;
    }
   100%{
        right: 90%;
    }
}